In [10]:
print("mizuki")
# make usage of panda and numpy

import pandas as pd
# importing pandas lib.

df=pd.read_csv("F:\SENS-Future\BATWEBS(INTERNSHIP)\wine.data", sep="\s")

df.head()

df.tail(n=10)

df.describe()

mizuki

C:\Users\Mizuki\AppData\Local\Temp\ipykernel_15592\2807971750.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df=pd.read_csv("F:\SENS-Future\BATWEBS(INTERNSHIP)\wine.data", sep="\s")

       1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
count                                                 177
unique                                                177
top     1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4...
freq                                                    1